body {
	font-family: "Roboto", sans-serif;
	background-color: #fafafa;
}

/* ---------------------------- HEADER FIXED ---------------------------- */

header {
	width: 100%;
	height: 69px;
	position: fixed;
	top: 0;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ec362d;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header h1 {
	font-weight: 700;
	font-size: 37px;
	line-height: 43px;
	color: #ffffff;
}

/* ---------------------------- MAIN SCREEN ---------------------------- */

.main-screen {
  margin: 140px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.main-screen .my-quizzes {
  width: 100%;
  max-width: 1051px;
}

.main-screen__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}

.my-quizzes__zero-quizzes {
  height: 181px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 1px dashed #D5D5D5;
  border-radius: 5px;
}

.zero-quizzes__message {
  max-width: 250px;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #B9B9B9;
}

.zero-quizzes__new-quizz {
  padding: 5px 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  color: #EC362D;
  background: #FAFAFA;
  border: 1px dashed #EC362D;
  border-radius: 50px;
}

.my-quizzes__some-quizzes {
  width: 100%;
  max-width: 1051px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.some-quizzes__quizzes-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.some-quizzes__quizzes-title ion-icon {
  color: #EC362D;
  font-size: 30px;
}

.my-quizzes__quizz-list, .all-quizzes__quizz-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.main-screen .all-quizzes {
  width: 100%;
  max-width: 1051px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.quizz-list__quizz {
  position: relative;
  width: 340px;
  height: 181px;
}

.quizz-list__quizz img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.quizz-list__quizz__gradient {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 5px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255,255,255,0) 65%);
}

.quizz-list__quizz span {
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 15px;
  padding: 0 15px;
  word-break: break-word;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  color: #FFFFFF;
}

/* ---------------------------- QUIZZ SCREEN ---------------------------- */

.quizz-screen {
  margin-top: 69px;
  background-color: red;
  width: 100%;
  height: 100vh;
}
































/* ---------------------------- CREATION SCREEN ---------------------------- */

.creation-screen {
  margin-top: 140px;
  width: 100%;
  height: 100vh;
}

.creation-screen form input {
  height: 46px;
  margin-top: 9px;
  margin-bottom: 9px;
  padding-left: 16px;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
}

.creation-screen input::placeholder {
  font-size: 19px;
  font-style: italic;
  color: #bababa;
}

.creation-screen legend, .created-quiz h3  {
  font-size: 23px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 26px;
}

.creation-screen h2 {
  font-size: 20px;
  font-weight: 700;
  padding-top:  20px;
  padding-bottom: 14px;
}

.creation-basic-info, .creation-questions, .creation-levels, .created-quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.basic-info-wrapper, .question-wrapper, .levels-wrapper {  
  width: 600px;
  height: 100%;
  padding: 18px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.question-wrapper, .levels-wrapper {
  margin-bottom: 22px;
}

.question-header, .level-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.created-quiz-image {
  display: flex;
  align-items: flex-end;
  width: 500px;
  height: 266px;
  margin-top: 20px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%), url(https://www.travelmarvel.com.au/-/media/travelmarvel-responsive-website/new-zealand/hero-image-12-5/south-island-12-5/hc-t-nz-south-island-lake-tekapo-lupins-496267890-i-edit.jpg?useCustomFunctions=1&rw=2280&w=1900&h=950&cropX=190&cropY=0);
  background-size: cover;
  border-radius: 5px;
}

.created-quiz-image p {
  font-size: 23px;
  color: #ffffff;
  padding-bottom: 20px;
  padding-left: 20px;
}

.basic-info-button, .questions-button, .submit-button, .open-quiz-button {
  font-size: 21px;
  text-align: center;  
  height: 54px;
  margin-top: 85px;
  margin-bottom: 80px;
  color: #fff5f4;
  background-color: #EC362D;
  border-radius: 15px; 
}

.basic-info-button {
  width: 368px;
}

.questions-button {
  width: 354px;
}

.submit-button {
  width: 324px;
}

.open-quiz-button {
  width: 220px;
  margin-bottom: 20px;
  margin-top: 46px;
}

.homepage-button {
  font-size: 21px;
  color: #818181;
  background: transparent;
  border: none;
}





























/* ---------------------------- CLASS HIDDEN ---------------------------- */

.hidden {
  display: none;
}