body {
	background-color: #fafafa;
}

/* ---------------------------- HEADER FIXED ---------------------------- */

header {
	width: 100%;
	height: 69px;
	position: fixed;
	top: 0;
	z-index: 3;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ec362d;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	z-index: 5;
}

header h1 {
	font-weight: 700;
	font-size: 37px;
	line-height: 43px;
	color: #ffffff;
}

/* ---------------------------- MAIN SCREEN ---------------------------- */

.main-screen {
	margin: 140px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
}

.main-screen .my-quizzes {
	width: 100%;
	max-width: 1051px;
}

.main-screen__title {
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
}

.my-quizzes__zero-quizzes {
	height: 181px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	border: 1px dashed #d5d5d5;
	border-radius: 5px;
}

.zero-quizzes__message {
	max-width: 250px;
	text-align: center;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	color: #b9b9b9;
}

.zero-quizzes__new-quizz {
	padding: 5px 20px;
	font-weight: 400;
	font-size: 21px;
	line-height: 25px;
	color: #ec362d;
	background: #fafafa;
	border: 1px dashed #ec362d;
	border-radius: 50px;
}

.my-quizzes__some-quizzes {
	width: 100%;
	max-width: 1051px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.some-quizzes__quizzes-title {
	display: flex;
	align-items: center;
	gap: 10px;
}

.some-quizzes__quizzes-title ion-icon {
	color: #ec362d;
	font-size: 30px;
}

.my-quizzes__quizz-list,
.all-quizzes__quizz-list {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}

.main-screen .all-quizzes {
	width: 100%;
	max-width: 1051px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.quizz-list__quizz {
	position: relative;
	width: 340px;
	height: 181px;
}

.quizz-list__quizz img {
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.quizz-list__quizz__gradient {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	border-radius: 5px;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 65%);
}

.quizz-list__quizz span {
	width: 100%;
	position: absolute;
	left: 0px;
	bottom: 15px;
	padding: 0 15px;
	word-break: break-word;
	font-weight: 400;
	font-size: 19px;
	line-height: 22px;
	color: #ffffff;
}

.quizz-list__quizz .edit-delete {
	background-color: #ec362d;
	width: 43px;
	height: 87px;
	position: absolute;
	z-index: 2;
	right: 0;
	top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	border-radius: 10px 0px 0px 11px;
	transition: all 0.5s ease-in-out;
}

.edit-delete ion-icon {
	font-size: 26px;
	color: white;
}

/* ---------------------------- QUIZZ SCREEN ---------------------------- */

.quizz-screen {
	margin-top: 69px;
	background-color: #fafafa;
	width: 100%;
	padding-bottom: 280px; /* Cuidado no Media Query */
}

.rendering-quizz-wrapper {
	height: calc(100vh - 154px);
	padding-top: 100px;
}

/*Banner de cima do Quizz*/
.quizz-header {
	display: flex;
	flex-wrap: nowrap;
	position: relative;
	width: inherit;
	background-color: black;
	min-height: 142px;
	max-height: 227px;
}
.quizz-header__title {
	position: absolute;
	color: white;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-weight: 400;
	font-size: 39px;
	line-height: 46px;
	z-index: 2;
}
.quizz-header-opacity {
	width: inherit;
	height: inherit;
	opacity: 0.6;
	background-color: black;
	overflow: hidden;
}
.quizz-header-opacity > img {
	object-fit: fill;
	width: 100%;
	min-height: 100%;
}

/*Classes das perguntas in-game*/
.quizz-questions,
.quizz-completed {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: nowrap;
	align-items: center;
	box-sizing: border-box;
}
.quizz-questions__quizz-box {
	background-color: #ffffff;
	width: 759px;
	max-height: 686px;
	margin-top: 42px;
	display: flex;
	flex-direction: column;
	padding: 35px;
	box-sizing: border-box;
	overflow: hidden;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.quizz-question-header-div {
	width: 100%;
	height: 137px;
	max-height: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: red;
}
.question-header {
	color: white;
	text-align: center;
	font-weight: 700;
	font-size: 23px;
	line-height: 27px;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0 10px;
}
.quizz-questions-options-div {
	width: 100%;
	max-height: 80%;
	padding-top: 19px;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	overflow: hidden;
}

.questions-answer {
	width: 49%;
	height: 225px;
	box-sizing: border-box;
	margin-bottom: 18px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.answer-img {
	width: 100%;
	height: 175px;
	cursor: pointer;
	pointer-events: stroke;
}
.answer-p {
	margin-top: 10px;
	font-weight: 700;
	font-size: 20px;
	color: inherit;
	word-break: break-all;
}

/*Classes para o Quizz Completo*/

.quizz-completed__inner-box {
	background-color: #ffffff;
	width: 759px;
	max-height: 430px;
	margin-top: 42px;
	display: flex;
	flex-direction: column;
	padding: 18px;
	box-sizing: border-box;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.quizz-completed-header-div {
	width: 100%;
	height: 99px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: red;
}
.completed-status-header {
	color: white;
	text-align: center;
	font-weight: 700;
	font-size: 23px;
	line-height: 27px;
	overflow: hidden;
}
.quizz-completed-main-content {
	width: 100%;
	max-height: 273px;
	display: flex;
	justify-content: space-between;
	padding: 20px 0 20px 0;
	overflow: hidden;
	gap: 20px;
}
.quizz-completed-main-content img {
	width: 364px;
	height: 273px;
	flex-shrink: 0;
}
.quizz-completed-main-content p {
	font-weight: 700;
	font-size: 19px;
	line-height: 25px;
	word-break: break-all;
	color: #484848;
	min-width: 40%;
}

/*Navegação Pós-Finalização de Quizz*/
.quizz-completed__restart-quizz {
	margin-top: 57px;
	background-color: #ec362d;
	width: 260px;
	height: 52px;
	border-radius: 15px;
	transition-duration: 0.3s;
	font-weight: 400;
	font-size: 21px;
	line-height: 25px;
	color: #fff5f4;
	cursor: pointer;
}
.quizz-completed__restart-quizz:active {
	transform: scale(0.96);
	transition-duration: 0s;
}
.quizz-completed__restart-quizz:hover {
	background-color: #e9544c;
}
.quizz-completed__go-home {
	font-weight: 400;
	font-size: 21px;
	line-height: 25px;
	text-align: center;
	margin-top: 18px;
	color: #818181;
	cursor: pointer;
}
.quizz-completed__go-home:hover {
	text-decoration: underline;
	transition-duration: 0.2s;
}
.quizz-completed__go-home:active {
	color: #2c2c2c;
	transition-duration: 0s;
}

/*Js classes*/
.lock-unselected {
	transition-duration: 1s;
	opacity: 0.3;
	pointer-events: none;
}
.lock-selected {
	transition-duration: 0s;
	pointer-events: none;
}
.color-wrong {
	transition-duration: 1s;
	color: red;
}
.color-right {
	transition-duration: 1s;
	color: green;
}

.end-screen-update-space {
	padding-bottom: 85px;
}

/* ---------------------------- CREATION SCREEN ---------------------------- */

.creation-screen {
	margin-top: 140px;
	width: 100%;
}

.creation-screen form input {
	height: 46px;
	margin-top: 9px;
	margin-bottom: 9px;
	padding-left: 16px;
	border: 1px solid #d1d1d1;
	border-radius: 5px;
}

.creation-screen .color-picker {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #d1d1d1;
	border-radius: 5px;
	padding: 0 16px;
	margin: 9px 0;
}

.creation-screen #question-background {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	cursor: pointer;
	border: none;
	width: 50px;
	height: 26px;
	padding: 0;
}

#question-background::-webkit-color-swatch {
	border-radius: 5px;
}

#question-background::-moz-color-swatch {
	border-radius: 5px;
}

.color-picker label {
	font-size: 19px;
	font-style: italic;
	color: #bababa;
	margin-bottom: 0;
}

.creation-screen input::placeholder {
	font-size: 19px;
	font-style: italic;
	color: #bababa;
}

.creation-screen legend,
.created-quiz h3 {
	font-size: 23px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 26px;
}

.creation-screen h2 {
	font-size: 20px;
	font-weight: 700;
	padding-top: 20px;
	padding-bottom: 14px;
}

.creation-basic-info,
.creation-questions,
.creation-levels,
.created-quiz {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
}

.basic-info-wrapper,
.question-wrapper,
.levels-wrapper {
	width: 600px;
	height: 100%;
	padding: 18px;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.question-body,
.level-body {
	display: flex;
	flex-direction: column;
}

.question-header-cr,
.level-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.created-quiz-image {
	position: relative;
	width: 500px;
	height: 266px;
}

.created-quiz-image img {
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.created-quiz-image__gradient {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	border-radius: 5px;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 65%);
}

.created-quiz-image span {
	width: 100%;
	position: absolute;
	left: 0px;
	bottom: 15px;
	padding: 0 15px;
	word-break: break-word;
	font-weight: 400;
	font-size: 19px;
	line-height: 22px;
	color: #ffffff;
}

.basic-info-button,
.questions-button,
.submit-button,
.open-quiz-button {
	font-size: 21px;
	text-align: center;
	height: 54px;
	margin-top: 85px;
	margin-bottom: 80px;
	color: #fff5f4;
	background-color: #ec362d;
	border-radius: 15px;
}

.basic-info-button {
	width: 368px;
}

.questions-button {
	width: 354px;
}

.submit-button {
	width: 324px;
}

.open-quiz-button {
	width: 220px;
	margin-bottom: 10px;
	margin-top: 45px;
}

.homepage-button {
	font-weight: 400;
	font-size: 21px;
	line-height: 25px;
	color: #818181;
	background: transparent;
	border: none;
}

label {
	font-size: 16px;
	color: #ec362d;
	margin-bottom: 17px;
}

.wrong-answer {
	background-color: #ffffff;
}

.wrong-background {
	background-color: #ffe9e9;
}
/* ---------------------------- CLASS HIDDEN ---------------------------- */

.hidden {
	display: none;
}

/* -------------------------- CSS ANIMATION LOADING -------------------------- */

.loading-all-quizzes {
	margin-top: 70px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
}

.loading-all-quizzes p {
	font-style: italic;
	color: #b9b9b9;
}

.lds-ripple {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-ripple div {
	position: absolute;
	border: 4px solid #e03832;
	opacity: 1;
	border-radius: 50%;
	animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
	animation-delay: -0.5s;
}
@keyframes lds-ripple {
	0% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 0;
	}
	4.9% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 0;
	}
	5% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 1;
	}
	100% {
		top: 0px;
		left: 0px;
		width: 72px;
		height: 72px;
		opacity: 0;
	}
}
